body{
  font-family: "Parkinsans", sans-serif;
}

.card{
  max-height: 200px;
  background-color: black;
  color: white;
}

.card-title{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#title{
  color: rgb(249, 14, 100);
}

#mail{
  font-size: 15px;
}